{% extends 'bookapp/base.html' %}


{% block content %}

<div class="jumbotron">
    <h2>Please Login</h2>
    <h3>(Must Be a Super User!)</h3>

    {% if form.errors %}
        <p>Your User name or password didn't match please try agin</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock %}